/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 40% of the screen size */
#chart,
body,
html {
  height: 80%;
  /* width: 500px; */
}

.jumbotron {
  width: 80%;
  height: 800px
}

